# Server
PORT=8000
HOST=0.0.0.0

# MongoDB (Atlas)
MONGO_URI=mongodb+srv://hypeon_admin:hypeon_123@hypeon-mvp-cluster.dtq0ocn.mongodb.net/?appName=hypeon-mvp-cluster
MONGO_DB=hypeon_mvp_db

# JWT
JWT_SECRET=e2a20c907b398894b1a8147e094fd478ffda21f2817bc4b6d37b7fc83e263545
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120

# Frontend URL (used in password reset link)
FRONTEND_URL=http://localhost:3000

# SMTP (for password reset)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=youremail@gmail.com
SMTP_PASS=your_smtp_password
EMAIL_FROM="Hypeon AI <no-reply@hypeon.ai>"

# Google
GOOGLE_CLIENT_ID=923334824395-4l0ii8019adnnvl38nu1ips5sp3pklf6.apps.googleusercontent.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=umar@hypeon.ai
SMTP_PASS=mlbv tllh dpcr bkds
EMAIL_FROM="Hypeon AI umar@hypeon.ai"
