uvicorn[standard]==0.22.0
gunicorn==21.2.0
python-dotenv==1.0.0
motor==3.4.0
pymongo==4.6.3
passlib[bcrypt]==1.7.4
bcrypt<4.0
python-jose==3.3.0
aiosmtplib==1.1.5
google-auth==2.22.0
httpx==0.24.1
requests==2.31.0
loguru==0.7.0
slowapi==0.1.8
fastapi==0.121.1
pydantic==2.12.4
email-validator==2.3.0
